i {
  vertical-align: middle;
  margin-right: 5px;
}

.white {
  color: white !imporatnt;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.blue {
  background-color: #7e00e0 !important;
}

.navbar-brand {
  vertical-align: middle;
  text-align: center;
}

.navbar-brand i {
  font-size: 25pt;
  margin-right: 5px;
}

body {
  background-color: #e9ecef !important;
}

.jumbotron {
  background-color: white !important;
}

.max-cont {
  width: max-content;
}

.cornered {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.img-container{
  width: 250px;
  height: 250px;
}

.img-container img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.btn-bs-file{
  margin:15px 8%;
}

.btn-bs-file input[type="file"]{
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

.cont-img{
	width:100px;
  object-fit: cover;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius:50%;
	box-shadow: 0 .3rem 0.3rem rgba(0,0,0,.15) !important;
}

.v-align td{
	vertical-align: middle;
}

.v-align tr:hover{
	transition: 0.25s;
	box-shadow: 0 .3rem 0.3rem rgba(0,0,0,.15) !important;
}
.v-align tr{
	transition: 0.25s;
}

.set-pad{
	padding:30px 0px 0px 0px !important;
}

.act-btn{
	width:100px !important;
}

.act-form{
	width: min-content;
	float: right;
	margin-bottom:0px;
}

.contained{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

.img-add{
	width:100px;
}

.add-btn{
	background-color: limegreen;
	border:none;
	color:white;
	width:30px;
	font-size:14pt;
	text-align: center;
	height:30px;
	border-radius: 50px;
	padding:0px;
}
.add-btn i{
	margin:0px;
}

.numbers{
	margin-top:10px;
}

.fl-msg{
  position:absolute !important;
  top:88px;
  left:0px;
  z-index: 0;
}

.navbar{
  min-height:88px;
}
